body{
    transition: 2s;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #de3b3b;
}

body.b--pomodoro-on{
    background-color: #de3b3b;
}
body.b--resume-break{
    background-color: #8dde3b;
}
body.b--short-break{
    background-color: #3bdede;
}

.b-message{
    font-size: 50px;
    color: white;
    line-height: 1.5;
    top: calc(50vh - 37.5px);
    position: absolute;
    left: calc(50vw - 167.655px);
    font-weight: 600;
}

.b-body-effect{
    position: absolute;
    width: 10vw;
    height: 10vw;
    left: calc(50% - 5vw);
    top: calc(50% - 5vw);
    transition: 2s;
    border-radius: 50%;
}

body.b--pomodoro-on>.b-body-effect{
    background-color: #de3b3b;
}
body.b--resume-break>.b-body-effect{
    background-color: #8dde3b;
}
body.b--short-break>.b-body-effect{
    background-color: #3bdede;
}

.b-body-effect.b--expanded{
    left: 0%;
    top: calc(0% - 50vh);
    width: 100vw;
    height: 100vw;
    z-index: -3;
}

body.b--pomodoro-on>.b-body-effect.b--expanded{
    background-color: #ee1a1a;
}
body.b--resume-break>.b-body-effect.b--expanded{
    background-color: #84ee1a;
}
body.b--short-break>.b-body-effect.b--expanded{
    background-color: #1aeeee;
}

.b-configuration{
    position: relative;
    top: 4vh;
    width: 256px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 10px;
}

.b-configuration__item{
    width: 50%;
    text-align: left;
}

.b-configuration__item>div{
    color: white;
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
    letter-spacing: 1.3px;
}

.b-configuration__item>input{
    text-align: center;
    width: 75px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 0;
    padding-left: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.b-controls{
    display: flex;
    position: relative;
    top: 4vh;
}

.b-controls>div{
    height: 36px;
    width: 75px;
    font-size: 16px;
    line-height: 36px;
    margin: 20px 8px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1.7px;
}

.b-controls>div:hover{
    cursor: pointer;
}